@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./money.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: white;
  font-family: "Open Sans", sans-serif;
}
/* income cpntainer..... */
.incomeContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: space-around;
  border: 2px solid black;
  align-items: center;
  overflow: hidden;
}
.expressTrackerContainer {
  width: 38%;
  background-color: white;
  color: black;
  height: 50vh;
}
.heading {
  padding: 12px;
}
.heading h5 {
  color: rgb(181, 202, 224);
}
.balanceHeader {
  text-align: center;
  margin: 8px 0px;
}
.formControl {
  padding: 12px;
  font-family: "Noto Sans JP", sans-serif;
}
.topFormControl {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.bottomFormControl {
  display: flex;
  justify-content: space-between;
}
input {
  height: 3vh;
  width: 60%;
}
span {
  font-size: 12px;
}
.submitButton {
  text-align: center;
  display: flex;
  margin: auto;
  padding: 8px 50px;
  margin: 8px auto;
  color: rgb(192, 157, 248);
  border: 2px solid rgb(192, 157, 248);
  background-color: white;
}
.submitButton:hover {
  background-color: rgb(192, 157, 248);
  color: white;
}
#cars {
  width: 25vh;
  padding: 5px;
}
#birthday {
  width: 25vh;
}
span {
  font-size: 16px;
  color: rgb(31, 30, 30);
}

/* transaction history */
.transactionHistory {
  padding: 12px 0px;
  background-color: white;
  width: 100%;
  height: 35vh;
  overflow: auto;
  overflow-x: hidden;
}
.transactionHistoryTitle {
  margin-left: 12px;
}
.incomeBtn,
.expensseBtn {
  display: block;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: none;
  outline: none;
}
.incomeBtn {
  background-color: rgb(22, 255, 22);
  color: white;
  font-size: 22px;
  font-family: sans-serif;
  padding: 0px 15px;
}
.expensseBtn {
  background-color: rgb(219, 11, 11);
  font-size: 22px;
  color: white;
}
.transactionDetail {
  display: flex;
}
.greenBackground {
  border: 1px solid rgb(92, 156, 92);
}
.redBackground {
  border: 1px solid rgb(235, 58, 58);
}
.transactionList {
  padding: 10px;
}
.transactionlist {
  padding: 8px;
  border-radius: 12px;
  margin-bottom: 9px;
  position: relative;
}
.transactiondetail {
  padding: 0px 12px;
}
.transactionAmountDate {
  display: flex;
}
.amt {
  font-weight: bolder;
  color: rgb(83, 80, 80);
  font-family: sans-serif;
  margin: 0%;
  padding: 0%;
}
.date {
  font-weight: lighter;
  color: rgb(92, 82, 82);
  margin: 0%;
  padding: 0%;
  margin-left: 5px;
  font-size: 12px;
}
.desc {
  padding: 5px 0px;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.deleteButton {
  position: absolute;
  right: 19px;
  top: 19px;
  font-size: 20px;
  color: rgb(235, 58, 58);
  cursor: pointer;
}
.incomeChart{
  background-color: white;
  color: black;
  width:29%;
height: 45vh;
padding: 8px;
}

.incomeChartIncome,.incomeChartHEading{
  color: rgb(66, 128, 66);
}
.expenseChartHEading,.incomeChartExpense{
  color: rgb(219, 11, 11);
}
.green{
  border-bottom: 8px solid rgb(3, 85, 3);
}
.red{
  border-bottom: 8px solid rgb(224, 56, 56);
  /* background-color: rgb(117, 5, 5); */
}
